<!--The content below is only a placeholder and can be replaced.-->
<div class="header" style="text-align:center">
    <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-1/apr15-sphere.jpg" alt=""> -->
    <h1>
    Your TODO list!
  </h1>

</div>

<div class="todoContainer container text-center">
  <div class="row todo-host">

    <div id="todo-table" class="todoform">
      <input [ngClass]="{'error': !validTodo}" type="text" #inputToDo name="item" (keydown)="newToDoChange($event)" value="{{newToDo}}" placeholder="Add new item..." required />
      <button class="btn addbtn" (click)="addToDo(inputToDo.value)" type="submit">ADD TASK</button>
    </div>

    <div class="todo text-center" *ngFor="let todo of todoList; index as todoIndex;">
      <app-todo [toDo]="todo"  index="{{todoIndex}}" (removeToDo)="removeToDo({todo:todo,todoIndex:todoIndex})">
      </app-todo>
    </div>
  </div>
</div>
