/* You can add global styles to this file, and also import other style files */
body {
  background-color: #C5D2DB;
   /* #C5919D; */
}

.error{
  border: 1px solid red !important;
}

.header{
  position: fixed;
  top: 0px;
  height: 50px;
  width: 100%;
  background-color: #726A95;
  z-index: 1;
}

.todoContainer{
  position: relative;
  top: 60px;
}

.todo-host{
  min-height: 200px;
  background-color: #709FB0;
  /* background-color: #2096ba; */
  height: 100%;
  width: 200px;
  top:200px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.todo {

  height: 100%;
  width: 350px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 6px;
  box-shadow: 10px 10px 10px 6px;
}

.actionbar{
  padding: 5px 10px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.countIndicator{
  padding: 5px 10px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.todobody{
  height: 100%;
  width: 100%;
  word-wrap: break-word;
  padding: 20px;
}



.todo:nth-child(odd) {
  background: #2096BA;
  position: relative;
  left: 125px;
}

.todo:nth-child(even) {
  background: #DF6E21;
  position: relative;
  left: -75px;
}

.todoform{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 200px;
  background: #C5919D;
}




/* FORM */


#todo-table{
  position: relative;
  width: 100%;
  background: #090d13;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}


input[type="text"]{
  width: 100%;
  padding: 20px;
  background: #181c22;
  border: 0;
  float: left;
  font-size: 20px;
  color: #989898;
}

.addbtn{
  padding: 20px;
  width: 100%;
  float: left;
  background: #23282e;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}
